@model PrimerMVC.Models.VistasParciales
@{
    ViewBag.Title = "Mi Página";
}

<div class="container__child signup__thumbnail">
    <div class="thumbnail__logo">
        <img src="@Url.Content(Model.Imagen)" alt="Sample Image" width="350" style="padding-top:40px" />
        <h1 class="logo__text">Usuario Actual</h1>
    </div>

    <div class="signup__overlay"></div>
</div>
